@import './mixins';
@import './base';
@import "./components/avatar";
@import "./components/social";

.container {
  width: 90%;
  margin: 0 auto;
}

.component {
  @media (min-width: 748px) {
    display: flex;
    max-width: 675px;
    margin: 0 auto;
  }

  &__image > img {
    border-radius: 10px 10px 0 0;

    @media (min-width: 748px) {
      border-radius: 10px 0 0 10px;
      min-height: 100%;
    }
  }

  &__description {
    background-color: white;
    border-radius: 0 0 10px 10px;

    @media (min-width: 748px) {
      border-radius: 0 10px 10px 0;
    }

    h2 {
      @include styles-description($color-very-dark-grayish-blue, 1.3em, 1em);
      padding-top: 2em;
      @media (min-width: 748px) {
        font-size: 1.4em;
      }
    }

    p {
      @include styles-description($color-very-dark-grayish-blue, 1.05em, 2em);
      line-height: 1.7;
      @media (min-width: 748px) {
        font-size: 0.9em;
      }
    }
  }

  &__footer {
    position: relative;
    padding-bottom: 1em;

    @media (min-width: 748px) {
      padding-bottom: 2em;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .networks {
    position: relative;
    background-color: $color-very-dark-grayish-blue;
    color: $color-light-grayish-blue;
    width: 100%;
    display: none;
    padding: 1.5em 2.5em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    @media (min-width: 748px) {
      left: 17em;
      top: -6em;
      bottom: 7em;
      width: 225px;
      box-shadow: 0 5px 5px rgba(#000, 0.2);

      &::after {
        content: '';
        position: absolute;
        display: block;
        top: 4em;
        left: 8em;
        border: 1em solid;
        border-color: $color-very-dark-grayish-blue transparent transparent
          transparent;
      }
    }

    &__title {
      flex: 1;
      letter-spacing: 6px;
      font-weight: lighter;
      font-size: 0.8em;
    }

    &__list {
      display: flex;
      align-items: center;
      flex: 2;
      height: 20px;

      @media (min-width: 748px) {
        padding-left: 1.5em;
      }

      > li + li {
        margin-left: 1em;
      }
    }
  }
  .networks.networks-visible {
    display: flex;
    border-radius: 0 0 10px 10px;
    @media (min-width: 748px) {
      border-radius: 10px;
    }
  }
}