@import './mixins';
@import './base';

.container {
  width: 90%;
  margin: 0 auto;
}

.component {
  &__image > img {
    border-radius: 10px 10px 0 0;
  }

  &__description {
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding-bottom: 1.5em;

    h2 {
      @include styles-description($color-very-dark-grayish-blue, 1.3em, 1em);
      padding-top: 2em;
    }

    p {
      @include styles-description($color-very-dark-grayish-blue, 1.05em, 2em);
      line-height: 1.7;
    }
  }

  &__footer {
    position: relative;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .avatar {
    color: $color-very-dark-grayish-blue;
    display: flex;
    justify-content: flex-start;

    &__image {
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }

    &__profile {
      margin-left: 1em;

      > h3 {
        margin-bottom: 0.2em;
      }

      > time {
        font-size: 1.2em;
      }
    }
  }

  .social {
    cursor: pointer;

    &__button {
      display: inline-block;
      border-radius: 50%;
      padding: 0.6em;
      background-color: $color-light-grayish-blue;
      position: relative;
      z-index: 10;
    }
  }

  .networks {
    background-color: $color-very-dark-grayish-blue;
    color: $color-light-grayish-blue;
    width: 100%;
    // display: flex;
    display: none;
    padding: 1.5em 2.5em;
    position: absolute;
    top: 0;
    left: 0;

    &__title {
      flex: 1;
      letter-spacing: 6px;
      font-weight: lighter;
    }

    &__list {
      display: flex;
      align-items: center;
      flex: 2;
      height: 20px;

      > li + li {
        margin-left: 1em;
      }
    }
  }
}
